qcode/.*
*/*.o
*/*.cu_o
.project
.settings
*/*.a
_build
*~
*.aux
*.log
*.native
libpq/all_pairs
libpq/ap1d2d
libpq/boolscan
libpq/compaction
libpq/each
libpq/gen_idx
libpq/gen_kmeans_data
libpq/index
libpq/kmeans
libpq/min_idx
libpq/naivecpud
libpq/red.ptx
libpq/reduce
libpq/reduce2d
libpq/scan
libpq/where
papers/PLDI11/PLDI11.pdf
*.blg
*.backup
