qcode/.*
*/*.o
*/*.cu_o
.project
.settings
*/*.a
_build
*~
*.aux
*.log
*.native
scratch_cuda
FrontEnd/depsort
FrontEnd/depsort.cmi
FrontEnd/depsort.cmx
papers/PLDI11/PLDI11.pdf
papers/ICFP11/ICFP11.pdf
*.blg
*.backup
